html {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

*,
::after,
::before {
    box-sizing: inherit;
}

.body {
    background-image: url("../images/mainTheme.png");
    background-size: cover;
    background-attachment: fixed; 
}

.main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
}

.list {
    list-style: none;
    display: grid;
    gap: 39px;
    font-size: small;
    position: fixed;
    margin-left: -23px;
}

.backToMenu {
    text-decoration: none;
    color: azure;
}

.backToMenu:active {
    border-radius: 13px;
    box-shadow: 0px 0px 13px 0px azure;
}

.container {
    margin: 30px;
}

.contact {
    color: azure;
    text-decoration: none;
    font-size: x-large;
}