.header {
    display: grid;
    justify-items: center;
    margin-top: 69px;
}

.header__title {
    font-weight: lighter;
}

@media (min-width: 700px) and (max-width: 1000px) {
    .header__title {
        font-size: xxx-large;
    }
}

.header__title--italic {
    font-style: italic;
}

.header__copyRights {
    margin-top: -20px;
    font-size: 13px;
}