html {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

*,
::after,
::before {
    box-sizing: inherit;
}

.body {
    background-image: url("../images/mainTheme.png");
    background-size: cover;
    background-attachment: fixed;
    color: azure;
}

.menuHeader {
    display: flex;
    justify-content: center;
    margin-top: 44px;
    font-style: italic;
    font-weight: lighter;
    font-size: 69px;
}

.main {
    margin: 13px;
    margin-top: 69px;
}

.main__theme {
    max-width: 1200px;
    margin: auto;
}

.paragraph {
    text-align: justify;
    text-indent: 6%;
    font-size: 25px;
    margin-top: -17px;
    line-height: 1.5;
}

@media (min-width: 700px) and (max-width: 1000px) {
    .paragraph {
        font-size: 30px;
    }
}

.enter {
    color: azure;
    display: flex;
    justify-content: center;
    font-size: 23px;
    margin-top: 83px;
    text-decoration: none;
    border-radius: 13px;
    box-shadow: inset 0px 0px 20px 0px;
}