.list {
    list-style: none;
    display: grid;
    gap: 69px;
    text-align: center;
    margin-left: -44px;
    margin-top: 73px;
    font-size: larger;
}

.list--episodesList {
    font-size: xx-large;
    font-weight: lighter;
    margin-top: 33px;
    gap: 40px;
}

@media (max-width: 500px) {
    .list {
        text-align: left;
        margin-left: -32px;
    }

    .list--episodesList {
        text-align: center;
    }
}

@media (min-width: 600px) and (max-width: 1000px) {
    .list {
        margin-left: -44px;
        font-size: xxx-large;
        gap: 86px;
    }

    .header__title {
        font-size: xxx-large;
    }
}

.list__item {
    text-decoration: none;
    color: azure;
}

.list__episode {
    font-style: italic;
}