.list {
    list-style: none;
    display: grid;
    gap: 69px;
    text-align: center;
    margin-left: -44px;
    margin-top: 73px;
    font-size: larger;
}

.list--episodesList {
    font-size: xx-large;
    font-style: italic;
    font-weight: lighter;
    margin-top: 33px;
}

.list__item {
    text-decoration: none;
    color: azure;
}

@media (min-width: 700px) and (max-width: 1000px) {
    .list {
        font-size: xxx-large;
        gap: 127px;
    }
}