.list {
    list-style: none;
    display: grid;
    gap: 30px;
    text-align: center;
    margin-left: -44px;
    margin-top: 73px;
    font-size: larger;
}

.list--episodesList {
    font-size: xx-large;
    font-weight: lighter;
    margin-top: 33px;
    gap: 40px;
    margin-left: -50px;
}

@media (max-width: 600px) {
    .list {
        text-align: left;
        margin-left: -32px;
    }

    .list--episodesList {
        text-align: center;
    }
}

@media (min-width: 768px) and (max-width: 900px) {
    .list {
        margin-left: -44px;
        margin-top: 360px;
    }
}

@media (min-width: 912px) and (max-width: 912px) {
    .list {
        margin-left: -44px;
        margin-top: 444px;
    }
}



.list__link {
    text-decoration: none;
    color: azure;
}

.list__item {
    font-style: italic;
}