html {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

*,
::after,
::before {
    box-sizing: inherit;
}

.backToEntrance {
    text-decoration: none;
    margin-left: 13px;
}

.dedication {
    margin: 6px;
}

.dedication__for {
    margin-top: 0px;
    font-size: 9px;
    margin-left: 109px
}