html {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

*,
::after,
::before {
    box-sizing: inherit;
}

.body {
    background-image: url("../images/entranceBackground.png");
    background-size: cover;
    background-attachment: fixed;
    color: azure;
}

.backToEntrance {
    text-decoration: none;
    margin-left: 13px;
    color: azure;
}

.backToEntrance:active {
    border-radius: 13px;
    box-shadow: 0px 0px 13px 0px azure;
}

.dedication {
    margin: 6px;
}

.dedication__for {
    margin-top: 0px;
    font-size: 9px;
    margin-left: 109px
}