html {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

*,
::after,
::before {
    box-sizing: inherit;
}

.body {
    background-image: url("../images/mainTheme.png");
    background-size: cover;
    background-attachment: fixed;
    color: azure;
}

.backToMenu {
    text-decoration: none;
    color: azure;
}

.backToMenu:active {
    border-radius: 13px;
    box-shadow: 0px 0px 13px 0px azure;
}

.header {
    display: grid;
    justify-items: center;
    margin-top: 69px;
    font-weight: lighter;
    padding: 43px;
}

.main {
    display: grid;
    grid-template-columns: 1fr 3fr;
    justify-content: center;
}

.list {
    list-style: none;
    display: grid;
    gap: 69px;
    font-size: small;
    margin-top: -170px;
    position: fixed;
}

.container {
    max-width: 700px;
}

@media (max-width: 600px) {
    .container {
        margin: 13px;
    }
}

.paragraph {
    margin-top: 40px;
}

.paragraph--last {
    text-indent: 6%;
}